@import './_ods-design-system';

/* HTML Fix overflow
   ========================================================================== */
$body-overflow-y: auto;


/* Colors
   ========================================================================== */
$blue: #354bcf;
$red: #e8404e;
$darkblue: #071F32;

$white: #ffffff;
$white-ter: #F0F0F0;
$grey-lighter: #E7E7E7;
$grey: #D1D1D1;
$grey-dark: #B6B6B6;
$grey-darker: #9C9C9C;
$black: #1A1A1A;

$link: $red;
$danger: $red;
$primary: $blue;
$info: $blue;
$background: $white;
$dark: $darkblue;

/* Typography
   ========================================================================== */
$body-size: 15px;
$body-color: $ods-text;
$body-line-height: 1.55;

$weight-normal: 400;
$weight-bold: 800;

$size-small: $size-6;
$size-normal: $size-5;
$size-medium: $size-4;
$size-large: $size-3;

$text: $black;
$text-strong: $black;

$title-color: $dark;
$subtitle-color: $dark;
$title-size: $size-2;
$title-sup-size: 2rem;
$title-weight: $weight-bold;

$label-weight: $weight-normal;

/* Footer
========================================================================== */

$footer-background-color: $info;
$footer-color: white;
/*$footer-padding: $spacing-6 $spacing-6;*/

/* Navbar
========================================================================== */
$navbar-box-shadow-size: 0 2px 6px 0;
$navbar-box-shadow-color: $grey-lighter;
/*$navbar-padding-horizontal: $spacing-4;
$navbar-padding-vertical: $spacing-4; //Peut-être 3 avec le titre*/

/* Sections, containers
========================================================================== */
/*$section-padding: $spacing-5 $spacing-3;
$section-padding-large: $spacing-7 $spacing-3;*/

/* Icons
========================================================================== */
$icon-dimensions: $size-3;
$icon-dimensions-small: $size-5;
$icon-dimensions-medium: $size-2;
$icon-dimensions-large: $size-1;

/* Buttons
========================================================================== */
/*$button-padding-horizontal: $spacing-2;
$button-padding-vertical: $spacing-2;*/

/* Radius
   ========================================================================== */
$radius-small: 4px;
$radius: 6px;
$radius-large: 10px;

/* Content
   ========================================================================== */
$content-heading-weight: 500;
$content-heading-line-height: 1.25;

/* ==========================================================================
    Bulma Elements Customization
   ========================================================================== */

/* Box
   ========================================================================== */
$box-radius: $radius;
$box-background-color: $light-100;
$box-padding: $spacing-100;

/* Card
   ========================================================================== */
$card-background-color: $light-100;
$card-shadow: none;
